h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;
    font-size: 50px;
  }

body {
    background-color: #000;
}

p {
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        color: white;
       font-size: 30px;
    }

a {
    color: white;
    text-decoration: underline aqua;
}

b {
    color: rgb(115, 255, 0);
}

keyword {
    color: wheat;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;
    font-size: 40px;
    color: white;
}
